#navbar{
	width: 100%;
	height: 100px;
}

#title-bar{
	background-color:yellow;
}

#statistic{
	margin-top: 20px;
	margin-bottom: 20px;
}

#review_wrapper{
	margin-top: 20px;
	margin-bottom: 20px;
}

#show-more{
}

.center{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.star{
	width: 100%;
	height:20px;
}

.profile-star{
	width: 25%;
	height:20px;
}

.bar{
	width: 60%;
}
.stars_wrapper{
	width:30%;
}

.percentage{
	width:10%;
	
}

.bar-rect{
	width:100%;
	border:2px solid white;
	height:18px
}
.bar-fill{
	height:18px;
	background-color: white;
}
.row td{
	padding-bottom: 10px;
}
#profile-pic{
	width:100px;
	border-radius: 50%;
}

#review-content{
	border: 2px solid white;
	margin-left: 20px;
	margin-top:10px;
	margin-bottom:10px;
}